body {
  background-color: cornsilk;
}

.kursBtn {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  border-radius: 5px;
  padding: 5px 30px;
  background-color: blue;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  color: white;
}

.courseList {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: auto;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
}

.courseList img {
  width: 400px !important;
  height: 400px;
  object-fit: cover;
  border: 5px solid rgb(176, 175, 175);
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .courseList {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .courseList img {
    width: 300px !important;
    height: 300px;
    object-fit: cover;
    border: 5px solid rgb(176, 175, 175);
    border-radius: 10px;
  }
}

@media (max-width: 900px) {
  .courseList {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .courseList img {
    width: 300px !important;
    height: 300px;
    object-fit: cover;
    border: 5px solid rgb(176, 175, 175);
    border-radius: 10px;
  }
}
@media (max-width: 600px) {
  .courseList {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin: auto;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .courseList img {
    width: 100%;
    object-fit: cover;
    border: 5px solid rgb(176, 175, 175);
    border-radius: 10px;
  }
}
